@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .wrapper {
    position: relative;
    width: 100vw;
    overflow: hidden;
  }
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-selected,
:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected {
  color: #ff630e !important;
  background-color: transparent;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-selected::after,
:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected::after {
  border: none;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu:hover {
  color: #ff630e !important;
  background-color: transparent;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu:hover::after {
  border: none;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item::after,
:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item::after,
:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu::after,
:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu::after {
  position: absolute;
  inset-inline: 0;
  bottom: 0px;
  border-bottom: 0 solid transparent;
  transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: "";
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item:hover::after {
  border-bottom-width: 0px;
  border-bottom-color: #ff630e;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  color: #ff630e;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  background-color: #fff;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  color: #ff630e;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-carousel .slick-dots-bottom {
  bottom: -2%;
  color: #ff630e;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-carousel
  .slick-dots
  li
  button {
  position: relative;
  display: block;
  width: 100%;
  height: 15px;
  padding: 0;
  color: #ff630e !important;
  font-size: 0;
  background: #000;
  border: 0;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 100%;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-carousel
  .slick-dots
  li.slick-active {
  width: 24px;
  color: black;
}

@media only screen and (min-width: 1200px) and (max-width: 1470px) {
  .mentor img {
    border-radius: 10px;
    object-fit: fill;
    width: 100%;
    height: 300px;
  }
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-form-vertical
  .ant-form-item-label
  > label,
:where(.css-dev-only-do-not-override-1adbn6x).ant-col-24.ant-form-item-label
  > label,
:where(.css-dev-only-do-not-override-1adbn6x).ant-col-xl-24.ant-form-item-label
  > label {
  color: gray;
  font-size: 1rem;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-checkbox + span {
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  color: gray;
  font-size: 1rem;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-pagination
  .ant-pagination-item-active {
  font-weight: 600;
  background-color: #ff630e;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 50%;
}
:where(.css-dev-only-do-not-override-1adbn6x).ant-pagination
  .ant-pagination-item:not(.ant-pagination-item-active):hover {
  font-weight: 600;
  background-color: #ff630e;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 50%;
}
